{
    "development": {
      "username": "username",
      "password": "pass",
      "database": "db",
      "host": "localhost",
      "dialect": "postgres"
    },
    "test": {
      "username": "username",
      "password": "pass",
      "database": "db",
      "host": "localhost",
      "dialect": "postgres"
    },
    "production": {
      "username": "username",
      "password": "pass",
      "database": "db",
      "host": "localhost",
      "dialect": "postgres"
    }
  }